.DesktopNav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DesktopNavLeft__container{
    width: 30;
}

.logo{
width: 50%;
}

.DesktopNavRight__container{
    display: flex;
    align-items: center;
}

.link{
    margin-right: 2em;
}


